.menu{
    list-style-type:none;
    padding:0;
    margin:0;
    display:flex;/*激活弹性布局*/
    flex-flow:row wrap;/*换行*/
}
.menu li{
    height: 40px;
    text-align: center;
    line-height: 40px;
    flex:1 1 100%;/*最小屏幕下的布局方式，扩展比例为1，收缩比例为1，初始宽度为100%*/
}
.menu li:nth-child(1){
    background-color: #39ADD1;
}
.menu li:nth-child(2){
    background-color: #3079AB;
}
.menu li:nth-child(3){
    background-color: #982551;
}
.menu li:nth-child(4){
    background-color: #E15258;
}
.menu li:nth-child(5){
    background-color: #CC6699;
}
.menu li:nth-child(6){
    background-color: #52AC43;
}
.menu li a{
    color:#fff;
    text-decoration:none;
}
/*媒体查询，其他屏幕大小的布局方式*/
@media (min-width:480px ) {/*中等屏幕的显示*/
    .menu li{
        flex:1 1 50%;
    }
}
@media (min-width:768px ) {/*大屏幕的显示*/
    .menu{
        flex-flow:row nowrap;/*不换行*/
    }
}